<ion-header>
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Search event"></ion-searchbar>
  <ion-list-header>
    <ion-label>Events list</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item button (click)="onClick()">
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>Event number 1</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>Event number 2</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>Event number 3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
